.navbar {
	display: flex;
	justify-content: space-between;

	&-logo {
		font-size: 46px;
		font-family: 'DM Sans', sans-serif;
		font-weight: 700;
	}

	&-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 20%;
		@media screen and (max-width: 1000px) {
			width: 50%;	
		}
		a {
			text-decoration: none;
			color: black;
			font-weight: 500;
		}
	}
	padding: 2%;
}